/* App.css */
.container-form {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #f8e7ec, #fdf6f8);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}  

form {
    width: 420px;
    background: white;
    padding: 80px;
    border-radius: 24px;
    box-shadow:
      0 10px 25px rgba(0, 0, 0, 0.08),
      0 4px 10px rgba(0, 0, 0, 0.04);

  }
  
  h2 {
    text-align: center;
    color: #d46a92;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 600;
  }
  
  label {
    color: #555;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
  }
  
  input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #e6d5dc;
    font-size: 15px;
    outline: none;
    transition: all 0.2s ease;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
  }
  
  input:focus {
    border-color: #d46a92;
    box-shadow: 0 0 0 4px rgba(212, 106, 146, 0.15);
  }
  
  .react-datepicker-wrapper {
    width: 100%;
  }
  
  .react-datepicker__input-container input {
    width: 100%;
  }
  
  button {
    margin: 15px 0 0 10px;
    padding: 14px;
    border: none;
    border-radius: 14px;
    background: linear-gradient(to right, #d46a92, #f08fb2);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 100%;
  }
  
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(212, 106, 146, 0.25);
  }
  button:active {
    transform: scale(0.98);
  }

.select-status {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #e6d5dc;
    font-size: 15px;
    outline: none;
    transition: all 0.2s ease;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
}